<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Corruption Loops</title>
    <meta name="description" content="Corruption Loops by Alex Bainter" />
    <meta name="author" content="Alex Bainter" />
    <meta name="theme-color" content="#1A1A1A" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= require('./icons/apple-touch-icon.png') %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= require('./icons/favicon-32x32.png') %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= require('./icons/favicon-16x16.png') %>"
    />
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
